/* @media screen and (max-width:480px){ */
#top div{
	font-size:1.3em;
	padding-bottom:5px;
}
#top input,#top select{
    border:solid 1px black;
	font-size:.8em;
	
}
.bubbles:before,.full:before,.exbubble:before,.overbubble:before{
	display: inline-block;
	font-family: FontAwesome;
	font-size: 2em;
}
.exbubble:before,.bubbles:before{
	content: "\f10c";
}
.exfull:before,.full:before{
	content: "\f111";
}
.overbubble:before{
	content: "\f096";
	float:right;
}
.fulloverbubble:before{
	content: "\f0c8";
	
}
span.food{
	margin-left:3px;
}
span.food:after{
	content:",";
}
#bubbles{
	border-collapse:collapse;
}
#bubbles td{
	border-bottom:solid black 1px;
}
#bubbles td:first-child{
	font-size:1.3em;
	vertical-align:top;
}
#exercise{
	margin-top:3px;
}
#exercise th:first-child{
	font-size:1em;
	width:33%;
}
#exercise td{
	text-align:center;
}
#balloon{
	display:block;
	position:fixed;
	border:1px solid black;
	border-radius:15px;
	padding:15px;
	background:white;
}
.popup{
	background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 50%;
    width: 75%;
    padding: 10px;
    position: fixed;
    top: 33%;
    left: 10%;
    display: none;
}
.popup table{
	width:100%;
}
.popup table input{
	width:100%;
}
/* } */